/* Colors Usage in Site: #C9DAEA, #F8F4A6 , #EF5B5B , #66666E, #474954 */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&family=Noticia+Text&display=swap'); /* fonte principal para leitura*/

/*font-family: 'Eczar', serif;
font-family: 'Noticia Text', serif; */

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Eczar:wght@500&family=Fjalla+One&family=Noticia+Text&display=swap'); /*Fonte para Titulos */

/*font-family: 'Archivo', sans-serif;
font-family: 'Eczar', serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Noticia Text', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Eczar:wght@500&family=Fjalla+One&family=Hind+Siliguri:wght@300;400;500;600;700&family=Noticia+Text&display=swap');

/*Fonte para Titulos02*/

/* font-family:'Archivo', sans-serif;*/




:root{
    --FontTexts0: 'Eczar','Noticia Text', serif;
    --FontTitles0: 'Archivo', Fjalla One, Noticia Text, sans-serif;
    --FontTitles1: 'Archivo', sans-serif; 

}

body{background:#C9DAEA; margin:0px; font-family: Times New Roman, Times, serif;}

.destaque{background:#4749548c; color:white; padding:2px 4px; margin:10px 3px;}


header{
    height:300px;
    background:linear-gradient(to bottom, rgb(248, 247, 247) 40%, #66666E 60%);
    font-family: Arial, Helvetica, sans-serif;

    
}

nav{
    margin:55px 0px 0px 30px; 
    
}

a{color:white; text-decoration: none; font-weight:bold; }

header > nav > a{font-size: 19px; margin:5px; padding:15px 5px 15px 5px; border-radius: 10px;}


header > nav > a::before{content:" | ";} header > nav > a::after{content:" | ";}

header > nav > a:hover{background:rgba(255, 255, 255, 0.788); color:black;}


header  h1{
    margin:0px 0px 30px 0px; padding:110px 0px 0px 0px; text-align: center; font-family: var(--FontTitles1); 
    font-weight:bold;
    font-style:italic;
}

header  h2{text-align: center; font-size: 22px; font-family:var(--FontTitles0); color:white; font-style:italic; font-weight: 600;
text-shadow:2px 2px 3px rgba(0, 0, 0, 0.39); font-weight:normal;}

main{
    max-width:900px;
    min-width: 350px;
    margin:auto;
    background-color: white;
    padding: 34px 17px 34px 15px;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
border-radius:0px 0px 10px 10px;}

main > section > p {font-size: 21px;}
main > section > div > p {font-size: 21px;}

main p {line-height: 1.4em;}



section{background:rgba(221, 217, 217, 0.74); margin:30px 0px 150px 0px; text-indent: 20px;}

section > h1{margin:0px 0px 20px 0px;font-size:2em; font-family:Arial, Helvetica, sans-serif ; font-style:italic; font-weight:bolder;}


.INCTopicos{font-size:2,5em; background:#66666e; display: inline-block; 
    padding:0px 20px 2px 0px;
    border:3px solid #F8F4A6;
    color:white;
    font-weight:normal;
    font-family: var(--FontTitles0);
    font-weight: normal;
    
}

section > picture > img{margin:  auto; display: block; margin-top:39px;}

picture > p {margin:40px 0px 100px 50px; font-weight: lighter; font-style:italic;}


section > div > p {margin:70px 0px 70px 0px; font-family:var(--FontTexts0); font-weight:normal;}

div > img {display:block;}

.smallimgs{width:20%; height:20%; margin:auto;}

.smallimages{max-width:420px;}

section#fidalgo > div {margin: 75px -16px 75px -14px;
    padding: 75px 0px 75px 0px;
    background-color: black;}

section#fidalgo > div > iframe {display:block; margin:auto; max-width: 100%; }

footer{background-color:#474954; 
    height:35px; margin:30px 0px 0px 0px; 
    padding:15px 0px 0px 0px; text-align: center;
font-family: Arial, Helvetica, sans-serif; font-weight: bolder;
color:white; font-style:italic;
font-size:19px;}

footer > p {margin:0px; padding:0px;}

section#mais{margin-top:-50px; margin-bottom: 5px;}

section#mais > div {background: #EF5B5B; border-radius:15px 15px 15px 15px;
font-family:Arial, Helvetica, sans-serif; font-style: italic; padding-bottom: 20px;
color:white;
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
}

section#mais > div > nav {
    margin:0px; padding:12px 0px 12px 0px;background:#eb4343; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:500;
    color:white; font-size:17px;
    border-radius: 15px 15px 0px 0px;
    font-style: normal;

     }

     section#mais > div > nav > p {margin:0px;}

     section#mais > div > p {margin:10px;}

     section#mais > div > div  { margin:10px 0px 5px 117px; width:250px; display: inline-block;
}



section#mais > div > div > ol  {margin:20px 0px 10px 5px; display:inline-block;}

section#mais > div > div > ol > li::before {content: "|| ";}
section#mais > div > div > ol > li::after {content: " ||";}


@media only screen and (max-width:919px) {
main{
margin-left:80px; margin-right: 80px;
}

header > nav {text-align: center;}

}

@media only screen and (max-width: 530px){
header > nav {margin-top:0px;}

}

